@page "/code"

<p>Ignore this page! It shouldnt be needed but its a work around till I figure out what to do about multiple instances of BlazorStyled.</p>

<PrettyCode CodeFile="_content/SamplePages/snippet1.html" />
<br /><br />
<PrettyCode CodeFile="_content/SamplePages/snippet2.html" />
<br /><br />
<PrettyCode CodeFile="_content/SamplePages/snippet3.html" />
<br /><br />
<PrettyCode CodeFile="_content/SamplePages/snippet4.html" />
<br /><br />
<PrettyCode CodeFile="_content/SamplePages/snippet5.html" />
<br /><br />
<PrettyCode CodeFile="_content/SamplePages/snippet6.html" />