@page "/"

<h1>BlazorTypography Test Page</h1>

<ThemeSwitcher />

<p>This page tests the elements used in BlazorTypography which is a port of <a href="https://kyleamathews.github.io/typography.js/">Typography.js</a></p>

<blockquote>This is a very important quote! <cite>Unknown</cite></blockquote>

<p>And another paragraph and it has some <b>bold words</b> in it.</p>

<hr />

<p>Above there is an hr. Below are some lists: </p>

<ol>
    <li>This is number 1</li>
    <li>This is number 2</li>
</ol>

<ul>
    <li>This is one item</li>
    <li>
        <ul>
            <li>This is a sub item</li>
            <li>This is another sub item</li>
        </ul>
    </li>
    <li>And one last item</li>
</ul>

<pre>This ia pre tag</pre>

<p><code>And this is a code tag</code></p>

<pre><code>
And this is a pre
    with a code
block inside of it
</code></pre>

<p>There is an <abbr>abbr</abbr> here</p>

<table>
    <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>R1 C1</td>
            <td>R1 C2</td>
            <td>R1 C3</td>
        </tr>
        <tr>
            <td>R2 C1</td>
            <td>R2 C2</td>
            <td>R2 C3</td>
        </tr>
        <tr>
            <td>R3 C1</td>
            <td>R3 C2</td>
            <td>R3 C3</td>
        </tr>
    </tbody>
</table>

<h1>Header 1</h1>

<h2>Header 2</h2>

<h3>Header 3</h3>

<h4>Header 4</h4>

<h5>Header 5</h5>

<h6>Header 6</h6>
