@page "/test"

<Typography 
    Theme="Stern Grove" 
    HeaderColor="red" 
    BodyColor="hotpink" 
    GoogleFonts="Roboto" 
    HeaderWeight="900" 
    HeaderFontFamily="Roboto" 
    Plugins="Code" 
/>

<h1>This is my great looking site</h1>

<p>A bunch of preset styles, ready to go, just start typing away</p>

<h2>Customize your site</h2>

<p>Or use one of 30 pre set themes, all ready to go!</p>

<pre><code>Blazor Rocks!</code></pre>
