@page "/test"

<Typography Theme="Stern Grove" HeaderColor="red" BodyColor="hotpink" GoogleFonts="Roboto" HeaderWeight="900" HeaderFontFamily="Roboto" Plugins="Code" />

<h1>This is a test</h1>

<p>Of the custom tag</p>

<pre>
<code>
    This is a test
</code>
</pre>
