@inherits LayoutComponentBase

<Styled @bind-Classname="@body">
    max-width:42rem;
    margin-left:auto;
    margin-right:auto;
    padding:1.5rem 1.125rem;
    padding-top:1.5rem;
</Styled>

<div class="@body">
    @Body
</div>

@code { 
    private string body;
}