@inherits LayoutComponentBase
@inject IStyled Styled

<div class="@body">
    @Body
</div>

@code { 
    private string body;

    protected override void OnInit()
    {
        body = Styled.Css(@"
            max-width:42rem;
            margin-left:auto;
            margin-right:auto;
            padding:1.5rem 1.125rem;
            padding-top:1.5rem;
        ");
    }
}